button
  @extend %reset-font

%button
  +transition(all 0.02s linear)
  +user-select(none)
  cursor: pointer
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px
  outline: none !important
  text-align: center
  font-weight: 600

.button
  @extend %button
  +rhythm-borders(2px, 0.5)
  display: inline-block
  width: 100%
  margin: 0
  padding-left: rhythm(1)
  padding-right: rhythm(1)
  border-color: $white
  border-radius: $global-radius
  color: $black
  background: $body-font-color

  &:hover:not(:disabled)
    color: $body-background-color
    background-color: $white
    border-color: $white

  &:disabled
    background-color: $gray
    border-color: $gray

.ok-button
  @extend .button
  border-color: $green-light
  color: $green-light
  background: none

  &:hover
    border-color: $green-light
    color: $green-light

.button-alt
  @extend .button
  background: transparent
  color: $gray
  border-color: $gray

  &:hover
    color: $white
    border-color: $white

.button-small
  @extend .button
  $font-size: 14px
  +adjust-font-size-to(14px)
  +rhythm-borders(2px, 0.25, $font-size)
  padding-left: rhythm(0.5, $font-size)
  padding-right: rhythm(0.5, $font-size)
  background: transparent

.button-small-alt
  @extend .button-alt
  @extend .button-small

.ok-button-alt
  @extend .button-alt
  border-color: $green-light
  color: $green-light

  &:hover
    border-color: $green-light
    color: $green-light

.ok-button-small-alt
  @extend .button-small-alt
  border-color: $green-light
  color: $green-light

  &:hover
    border-color: $green-light
    color: $green-light

@media #{$medium-up}

  .button
    width: auto
