.overlay-mask
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: rgba($black, 0.75)

.overlay-container
  @extend .overlay-mask
  background: none

.overlay-content
  +rhythm-borders(1px, 2)
  background: $black
  border-color: rgba($green-light, 0.25)
