.row
  .column.medium-9.medium-centered
    h6.profile-title Cyberia julkinen profiili
    .row
      .column.medium-12.medium-centered
        header#profile-header
          .profile-avatar= name[0]
          .profile-name= name
        #profile-content
          p.profile-status= status
          a.button-small-alt.edit-profile Muokkaa profiilia
        form#profile-edit-form
          fieldset.inputs
            ul
              li
                textarea.profile-status-edit(name="status", autofocus)= status
          fieldset.buttons
            ul.inline-list
              li
                a.ok-button-small-alt.save-profile Tallenna profiili
              li
                a.button-small-alt.cancel-edit Peru
