doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Cyberia 2020 Live-roolipeli
    meta(name='description', content='Cyberia Experience 2020 live-roolipeli Rovaniemellä 12.4.2014')
    meta(name="keywords", content="Cyberia2020, Cyberia, 2020, Experience, live-roolipeli, roolipeli, Rolli, Rovaniemi, tiedekeskus, Pilke, cyberpunk, soolo, rokkari, dekkeri, media, pukumies, fixeri, kyttä, tekno, lekuri, kulkuri")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link( href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    link( href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic,600italic', rel='stylesheet', type='text/css')
    block header
  body
    block body
