extends layout

block header
  link(rel="stylesheet", href="/stylesheets/site.css")

block body
  //if lt IE 7
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.

  #page
    block content

  script(src="http://localhost:35729/livereload.js")
  script(src='/javascripts/jquery-2.0.3.min.js', defer)
  script(src="/javascripts/site.js", defer)

  //- Google Analytics: change UA-XXXXX-X to be your site's ID.
  //-
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

