ul.inline-list
  li
    button.ok-button.show-success Onnistuminen
  li
    button.show-failure Epäonnistuminen

table.puzzle-table
  tbody
    for (var row = 0; row < 9; row++)
      tr
        for (var col = 0; x < 9; col++)
          td
