ul.inline-list
  li
    button.button.show-success Onnistuminen
  li
    button.button.show-failure Epäonnistuminen

table.puzzle-table
  tbody
    - for (var row = 0; row < 9; row++) {
      tr.darkTableRow
        - for (var col = 0; col < 9; col++) 
          td.vcTextValue= row * 9 + col
    - }
