.row
  .column.medium-10.medium-centered
    h6.tools-title Hacking Tools
    ul#tool-list
      li.tool
        a.tool-link(rel="level")
          .tool-icon.fa.fa-arrow-up
          h3.tool-title Increase Access Level
          p.tool-lead Deploy a shadow hunter to chow down on the administration network.
      li.tool
        a.tool-link(rel="search")
          .tool-icon.fa.fa-search
          h3.tool-title Search Underground Information
          p.tool-lead Get the latest gossip from confidential sources. XOXO
      li.tool
        a.tool-link(rel="block")
          .tool-icon.fa.fa-times
          h3.tool-title Block User Access
          p.tool-lead Say bye bye to poor Molly. She's a bitch anyway.
      li.tool
        a.tool-link(rel="code")
          .tool-icon.fa.fa-key
          h3.tool-title Acquire Safe Code
          p.tool-lead Itching for loot. Safe lockers look like a perfect place to start.
