extends layouts/app

block content
  #sidebar
  #additional
  #content-wrapper
    #content
  != "<script id='bootstrap' type='text/javascript'>"
  != "window.user = "
  != JSON.stringify(user)
  != ";"
  != "window.users = "
  != JSON.stringify(users)
  != ";"
  != "window.posts = "
  != JSON.stringify(posts)
  != ";"
  != "</script>"
