extends layouts/info

block content

  article.featurette
    .row
      .column.medium-6
        h2.featurette-title Aasia
        p

  article.featurette
    .row
      .column.medium-6
        h2.featurette-title Eurooppa

  article.featurette
    .row
      .column.medium-6
        h2.featurette-title Yhdysvallat

  article.featurette
    .row
      .column.medium-6 Venäjä
