extends layout

block content
  .center-group
    .row
      .column.small-10.medium-8.small-centered.text-center
        h1.hero-title Cyberia 2020
        p Cyberia Experience 2020 on Cyberpunkin maailmaan sijoittuva live-roolipeli. <br> Peli pelataan 12. - 13.4.2014 Rovaniemellä Tiedekeskus Pilkkeen tiloissa. 
        p
         a.button(href="https://www.facebook.com/events/201324050055482/") Lisätietoja Facebookissa
