extends layouts/site

block content
  .row
    .column.medium-4.medium-centered
      form#login-form(method="post", action="/login")
        input(type="hidden", name="_csrf", value="#{csrf_token}")
        fieldset.inputs
          ul
            li
              input(type="text", name="name", placeholder="Nimi")
            li
              input(type="text", name="password", placeholder="Salasana")
        fieldset.buttons
          ul
            li
              button.button(type="submit")
                | Kirjaudu sisään <i class="fa fa-caret-right"></i>
