extends layouts/info

block content

  article#timeline.featurette
    .row
      .column.medium-8.medium-centered
        ol.events
          li.event
            .event-year 1990
            .event-description
              p Ensimmäinen Väliamerikan konfikti alkaa. USA harrastaa interventionismia Panamassa, Hondurasissa ja El Salvadorissa. Armeijan joukkoja Panaman kanava-alueelle suojaamaan sitä ex-USA:n nukkediktaattorilta.
              p Länsi- ja Itä-Saksa yhdistyvät, Varsovan liitto hajoaa erillisiksi valtioiksi.
              p Neuvostoliiton hajoaminen alkaa. Sosiaalisten neuvostotasavaltojen liitto (SNTL) ottaa uuden lähestymistavan Eurooppaan: vuoteen 2000 mennessä NL on Euroteatterin voimakkain liittolainen.
              p Presidentti Gorbatshov nimittää seuraajakseen Andrei Gorborevin.
              p Etelä-Afrikka romahtaa. Seuraavan neljän vuoden aikana yhteydet ovat lähes poikki, mutta kaameista hirmuteoista ja kansanmurhista huhutaan.

          li.event
            .event-year 1991
            .event-description
              p ESA laukaisee Hermes-minisukkulan.
              p Gorborevin hallinto puhdistaa viimeiset vanhat kovan linjan miehet.
              p Biotechnica kehittää CHOOH2:n.
              p Jerseyn raunioille rakennetaan ensimmäinen Arkopolis. Kuudentoista “arkon” rakentaminen aloitetaan seuraavan viiden vuoden aikana, mutta vuoden 1997 romahdus jättää jättirakennelmat puolivalmiiksi, täyteen valtaajia ja kodittomia.
              p Keinotekoisia lihassyitä kehitetään Stanfordin tutkimuskeskuksessa.

          li.event
            .event-year 1992
            .event-description
              p Vuoden 1992 sopimus sinetöi Euroopan talousyhteisön. Kontrollialueet ja suojatullit määräävät jäsenmaiden - Ranskan, Britannian, Saksan, Italian ja muiden toimia. Perustetaan yhteinen rahayksikkö (eurodollari), joka perustuu kaikkien maiden rahayksiköiden kulta-arvoon. Vainoharhaiseen isolatismiin uppoutunut USA pysyy ulkona kuvasta.
              p USA:n huumepoliisi, DEA, kehittää ja levittää useita bioruttoja maailmalle, kohteenaan koka- ja oopiumviljelmät.
              p Chilen ja Ecuadorin hallitukset romahtavat.
              p Verinen huumesota puhkeaa Euroyhtiöiden tukemien diilereiden ja DEA:n välillä kautta amerikkojen.
              p Korkeatehoisten lasernosturien ensikäyttö Neuvostoliitossa. Kahdeksanjäseninen ESA pystyttää yksinkertaisen massasingon Kanariansaarille.

          li.event
            .event-year 1993
            .event-description
              p Ensimmäiset TRC-biolastut kehitetään Münchenissä.
              p Lisääntynyttä kaupunkimellakointia vastaan kehitetään AV-4 rynnäkköspinneri.
              p Kolumbialaiset huumekuninkaat laukaisevat pienen taktisen ydinlatauksen New Yorkissa. 15 000 kuollutta.

          li.event
            .event-year 1994
            .event-description
              p Vuoden ‘94 maailmanlaajuinen pörssiromahdus. USA:n talous horjuu ja romahtaa.
              p Ydinonnettomuus tappaa Pittsburghissa 257 henkeä. Syöpäkuolemat huipussa seuraavan kymmenen vuoden ajan.

          li.event
            .event-year 1995
            .event-description
              p Kilimandzaron massasingon rakentaminen alkaa ESA:n ja panafrikkalaisen liittouman solmiman sopimuksen myötä.

          li.event
            .event-year 1996
            .event-description
              p Yhdysvaltain romahdus. Maailman pörssiromahduksen heikentäminä, työttömyyden, kodittomien ja korruption riivaamina monet kaupunginhallitukset menevät konkurssiin. Huimaavan vajeen ja neljän koplan vehkeilyjen rampauttama USA:n hallitus on voimaton.
              p Kulkurimellakoita. Tässä vaiheessa yksi neljästä amerikkalaisesta on koditon. Sadat tuhannet mellakoivat elintilasta kautta USA:n. Kulkurilaumat syntyvät Länsi-USA:ssa ja leviävät nopeasti maailmanlaajuisiksi.
              p Ensimmäiset boosterijengit astuvat kuvaan.
              p Asianajajapuhdistus. Ärsyyntyneet kansalaiset lynkkaavat satoja puolustusasianajajia.
              p Perustuslaki jäädytetään. Sotatilalaki astuu voimaan USA:ssa.

          li.event
            .event-year 1997
            .event-description
              p Lähi-Idän sulatusuuni; Lähi-Idän jännitteet purkautuvat ydinsotana. Iran, Irak, Libya, Tshad ja Arabiemiirikuntien liitto muuttuvat radioaktiiviseksi rojuksi. Maailman öljyvarannot putoavat puoleen.
              p Myrkkypäästöt tappavat lähes koko Lounais-Atlantin lohikannan. Seattlen talous murtuu.
              p “Rockerboy” Manson tapetaan Englannissa.

          li.event
            .event-year 1998
            .event-description
              p Neoluddiitit ilmestyvät Länsi-Kentuckyyn. Seuraavan kymmenen vuoden ajan “ludit” ovat vastuussa lentokenttien, tehtaiden, valtateiden ja liikenneterminaalien pommituksista.
              p Vuoden ‘98 kuiva kausi muuttaa suurimman osan keskilännestä korventuneeksi savanniksi. Kuivuuden ja maatalousyhtiöiden myötä perhefarmit katoavat.
              p 5.10. maanjäristys pirstoo Los Angelesin. Meri tulvii ja tuhoaa 35 % kaupungista. Arviolta 65 000 menehtyy.

          li.event
            .event-year 1999
            .event-description
              p Liittovaltion aselakikokoelma astuu voimaan.
              p Maailmanloppua tammikuun ensimmäiseksi 2000 ennustavat vuosituhannen kultit ilmaantuvat. Tuhannet vaeltavat eristyneisiin yhteisöihin ja temppeleihin “odottamaan loppua”.
              p Tychon siirtokunta perustetaan. Massasinko rakennetaan toimittamaan raaka-aineita kiertoratalaitureille.

          li.event
            .event-year 2000
            .event-description
              p Vuosituhannen kultit riehaantuvat mellakoimaan tammikuun 1. päivä. Useimmat tuhoavat itsensä väkivallan ja itsemurhan orgioissa.
              p Ensimmäiset “suurperhe”-feikkijengit ilmaantuvat.
              p Massiiviset tulimyrskyt pyyhkivät Lounais-USA:n yli ja tuhoavat miljoonia eekkereitä viljelymaata ja preeriaa.
              p Kristallipalatsin avaruusaseman rakentaminen aloitetaan L-5:ssä.
              p Rutto jäytää USA:ta ja Eurooppaa ja tappaa satoja tuhansia.

          li.event
            .event-year 2001
            .event-description
              p Netin perustat ovat lopullisesti paikoillaan WorldSat-verkoston valmistuttua.

          li.event
            .event-year 2002
            .event-description
              p Ruokaromahdus: mutanttikasvivirus pyyhkäisee Kanadan ja Neuvostoliiton sadot mennessään. Yhdysvaltalaiset maatalousyhtiöt selviävät uuden biovasta-aineen ansiosta. NL syyttää USA:ta biologisesta sodankäynnistä.

          li.event
            .event-year 2003
            .event-description
              p Toinen Väli-Amerikan sota. USA miehittää Kolumbian, Ecuadorin, Perun ja Venezuelan. Sota on katastrofi, joka maksaa tuhansien amerikkalaisten hengen. Neljän koplan rippeet pyyhkiytyvät uudistuksen aallossa.

              p WNS:n mediatähti Tesla Johanneson paljastaa salaisia NSA:n asiakirjoja ensimmäisestä Väli-Amerikan konfliktista.

          li.event
            .event-year 2004
            .event-description
              p Ensimmäinen kloonattu kudos kasvatetaan koeputkessa. Mikrostruktuurit ja sterilointikentät kehitetään.

              p Tesla Johansson murhataan Kairossa.

          li.event
            .event-year 2005
            .event-description
              p Kybermodeemi keksitään.

              p EBM:n soolot hyökkäävät Kenjiri Technologiesin Tokion toimistoon ja tappavat 18 työntekijää.

          li.event
            .event-year 2006
            .event-description
              p Ensimmäinen klooni kasvatetaan koeputkessa. Mieltä vailla se elää vain 6 tuntia.

          li.event
            .event-year 2007
            .event-description
              p Toinen yhtiösota, jossa on monia firmoja osallisena, mukaanlukien Petrochem. Riita lakoi eteläisen Kiinanmeren öljykentistä.

          li.event
            .event-year 2008
            .event-description
              p Yhdysvaltain hyökkäys Neuvostoliiton MIR XIII-aselaiturille. ESA sekaantuu ja kiertoratasota puhkeaa “eurojen” ja “jenkkien” välille. Tychon massasinko ampuu kiven Colorado Springsiin ja hatara rauha solmitaan.

          li.event
            .event-year 2009
            .event-description
              p Yhteinen euro-neuvosto -retkikunta lähtee Marsiin.

              p Yhtiöt lopettavat gangsterihallinnon Night Cityssä.

              p Yhdysvaltalainen “terroristiryhmä” yrittää kaapata Kristallipalatsin ja keskeyttää rakennustyöt. ESA paljastaa armeijan tiedustelupalvelun juonen ja kostaa tiputtamalla 12 tonnin kiven Washingtoniin varoitukseksi.

          li.event
            .event-year 2010
            .event-description
              p Toinen Väli-Amerikan konflikti loppuu.
              p Network 54 hallitsee 62 % kaikesta Yhdysvaltain medialähetyksistä.
              p Ruokamellakat johtavat Denverissä 52:n kuolemaan.

          li.event
            .event-year 2011
            .event-description
              p Kristallipalatsi valmistuu. ESA:lla on nyt pysyvä jalansija ulkokiertoradalla.
              p ESA/NL-retkikunta saapuu Marsiin.

          li.event
            .event-year 2012
            .event-description
              p Biorutto tappaa 1700 Chicagossa.
              p Konserttimellakka tappaa Night Cityssä 18 ja 51 haavoittuu. Arasaskan rakennus tuhoutuu.

          li.event
            .event-year 2013
            .event-description
              p NetWatch perustetaan yhteisellä Euroteatterin ja USA:n sopimuksella.
              p Ensimmäinen todellinen tekoäly kehitetään MicroTechin Pasadenan tutkimuskeskuksessa.

          li.event
            .event-year 2014
            .event-description
              p I-G -muunnosalgoritmit uudistavat netin.
              p “Metallisodat” alkavat Night Cityssä, kun jengit taistelevat alueista.

          li.event
            .event-year 2015
            .event-description
              p Kyberpalkkasoturien nousu; Liettua palkkaa kybersotilaita puolustamaan sitä latvialaisilta nationalisteilta.

          li.event
            .event-year 2016
            .event-description
              p Kolmas yhtiösota käydään netissä, kun kilpailevat yhtiöt hyökkäävät toistensa datalinnoitusten kimppuun.

          li.event
            .event-year 2017
            .event-description
              p Ensimmäiset tiedostavat kloonit kehitetään.

          li.event
            .event-year 2018
            .event-description
              p Pensaspalosodat syttyvät Itä-Euroopassa.

          li.event
            .event-year 2019
            .event-description
              p Kiertoratasiirtokunnan kapina L-3:ssa.

          li.event
            .event-year 2020
            .event-description
              p Nyt.
