h4.overlay-title Kirjoita uusi viesti
p.overlay-lead Jaa fiiliksesi tekstillä tai kuvalla. Anna itsesi näkyä!
fieldset.inputs
  ul
    li
      textarea.text-input(name="text")
    li
      input.attachment-input(name="attachment", type="file")
fieldset.buttons
  ul
    li
      button.ok-button-alt.post-submit(type="submit") Lähetä viesti
