h4.overlay-title Kirjoita uusi viesti
p.overlay-lead Jaa fiiliksesi tekstillä tai kuvalla.
fieldset.inputs
  ul
    li
      textarea.text-input(name="text", placeholder="Kirjoita viesti", autofocus)
    li
      input.attachment-input.hidden(name="attachment", type="file")
fieldset.buttons
  ul
    li
      button.ok-button-alt.post-submit(type="submit") Lähetä viesti
