header#post-list-header
  a.button-small.new-post.right <i class="fa fa-plus"></i>&nbsp; Lis채채 p채ivitys
  h3.header-title
    | <span>Cyberia 2020</span> <span class="light">&nbsp;|&nbsp; P채ivitykset</light>
ul#post-list
