.row
  .column.medium-10.medium-centered
    header#post-list-header
      a.button-small.new-post.right <i class="fa fa-plus"></i>&nbsp; Lähetä päivitys
      h3.header-title
        | Cyberia <span class="light green">| Live</span>
    ul#post-list
