.empty-icon <i class="fa fa-lock"></i>
h4.empty-title Salattu keskusteluyhteys henkilöön <span class="green">#{name}</span>.
p.empty-text
  | Tämä on salattu yhteys.
  | Tämän keskustelun viestit näkevät ainoastaan sinä ja <span class="green">#{name}</span>.
