.empty-icon <i class="fa fa-lock"></i>
h5.empty-title Secure socket connection with <span class="green">#{name}</span>.
p.empty-text
  | This is a secure connection.
  | Messages in this conversation are visible only to you and <span class="green">#{name}</span>.
