fieldset
  ul
    li.right
      button#send-button.button-alt(type="submit") Send <i class="fa fa-caret-right"></i>
    li.input-item
      input#message-input(type="text", placeholder="Kirjoita viesti...", autofocus)
