#login-form
  +animation(fade-in-up 0.4s 0.2s ease both)
  margin-top: rhythm(2)

  .buttons, .buttons ul
    margin: 0

.login-title
  letter-spacing: 1px

@media #{$medium-up}

  #login-form
    margin-top: rhythm(10)
    padding: rhythm(1)
