$nav-separator-color: #2A2A2A

$sidebar-width: rhythm(7)
$additional-width: rhythm(8)
$sidebar-background: #1b1a1b

#sidebar
  display: none
  float: left
  position: relative
  height: 100%

#nav
  width: $sidebar-width
  height: 100%
  background: $sidebar-background
  border-right: 1px solid lighten($sidebar-background, 3%)

#additional
  @extend #sidebar
  float: right

.nav-header
  padding: rhythm(1)
  +trailing-border(1px, 1)
  border-color: $nav-separator-color
  text-align: center

.nav-prefix
  @extend %uppercase
  +adjust-font-size-to(12px, 1)
  color: $green-light

.nav-name
  letter-spacing: 2px
  font-weight: 600

.nav-list
  @extend .block-list

.nav-link
  +user-select(none)
  +transition(all 0.1s ease)
  display: block
  position: relative
  padding: rhythm(1) rhythm(1)
  text-align: center
  border: none

  &:hover, .current &
    +box-shadow(1px 0 0 #101010)
    background: #101010

.link-title
  $font-size: 12px
  @extend %uppercase
  +transition(all 0.1s ease)
  +adjust-font-size-to($font-size)
  padding-top: rhythm(2.5)
  color: $gray-dark
  font-weight: 600
  letter-spacing: 1px

  a:hover &, .current &
    color: $white

.link-icon
  +transition(all 0.1s ease)
  +adjust-font-size-to(40px, 2)
  position: absolute
  left: 0
  width: 100%
  color: $gray-dark

  a:hover &, .current &
    +adjust-font-size-to(45px, 2)
    color: $green-light

.nav-footer
  $font-size: 12px
  @extend %uppercase
  +adjust-font-size-to($font-size)
  position: absolute
  bottom: 0
  left: 0
  right: 1px
  padding: rhythm(0.5, $font-size) rhythm(1, $font-size)
  border-top: 1px solid $nav-separator-color
  text-align: center
  color: $gray-dark
  text-shadow: 0 -1px 0 $black
  background: $sidebar-background
  letter-spacing: 6px

#logout-button
  width: 100%

@media #{$medium-up}

  #sidebar
    display: block
