$post-spacing: 0.75

#posts
  @extend %section

#post-list-header
  margin: 0 0 rhythm(1)
  +trailing-border(1px, 1)
  border-color: $gray-dark

.new-post
  margin: 0 0 rhythm(1, 14px)
  color: $green-light
  border-color: $green-light

#post-list
  @extend .block-list

.post
  +trailing-border(1px, $post-spacing)
  +clearfix()
  position: relative
  margin: 0 0 rhythm($post-spacing)
  border-color: $gray-darker

.post-avatar
  +transition(all 0.2s)
  $font-size: 28px
  +adjust-font-size-to($font-size, 2)
  display: none
  float: left
  width: rhythm(2, $font-size)
  height: rhythm(2, $font-size)
  margin-right: rhythm($post-spacing, $font-size)
  background: $gray-darker
  text-align: center
  color: $gray-dark
  font-weight: 300

  .post:first-child &
    +adjust-leading-to(3, $font-size)
    width: rhythm(3, $font-size)
    height: rhythm(3, $font-size)
    margin-right: rhythm($post-spacing, $font-size)
    color: $white

.post-author
  +transition(all 0.2s)
  font-weight: 600
  color: $green-light

  .self &
    color: $white

  .post:first-child &
    +adjust-font-size-to(20px, 1)

.post-timestamp
  +transition(all 0.2s)
  @extend %uppercase
  +adjust-font-size-to(12px, 1)
  color: $body-font-color-alt

  .post:first-child &
    color: $white

.post-menu
  display: none

.post-text
  +transition(all 0.2s)
  +adjust-font-size-to(16px, 1)
  overflow: hidden
  min-height: rhythm(1, 16px)
  color: $body-font-color-alt

.attachment-separator
  margin: rhythm(0.5) 0

@media #{$large-up}

  .post-avatar
    display: block

  .post-timestamp
    position: absolute
    right: 0
    top: 0

    .post.self:hover &
      display: none

  .post-menu
    margin: -5px 0 0

    .post.self:hover &
      display: block
