.profile
  @extend %section

.profile-name
  +adjust-font-size-to($h3-font-size, 1.5)
  letter-spacing: 1px

.profile-group
  @extend %uppercase
  margin: 0 0 rhythm(1)
  color: $body-font-color-alt

.profile-title
  @extend %uppercase
  +trailing-border(1px, 1, $h6-font-size)
  margin: 0 0 rhythm(1, $h6-font-size)
  color: $green-light
  border-color: $gray-dark

.profile-image
  width: 100%
  height: auto
  min-height: rhythm(8)
  margin: 0 0 rhythm(1)
  border: 1px solid $gray-darker

.profile-status
  white-space: pre-line

.profile-status-edit
  +adjust-font-size-to(13px, 1)
  height: rhythm(8)

.profile-level
  +adjust-font-size-to(140px, 4)
  text-align: center
  color: $green-light
  font-weight: 300

.profile-level-annotation
  @extend %uppercase
  margin-top: rhythm(1)
  color: $body-font-color-alt

.profile-level-container
  +rhythm-borders(1px, 2)
  text-align: center
  border-color: $gray-dark

#profile-content
  @extend %default-margin
  +trailing-border(1px, 2)
  display: block
  border-color: $gray-dark

  .editing &
    display: none

#profile-edit-form
  display: none

  .editing &
    display: block

.profile-detail
  padding: rhythm(1) 0
  text-align: center
  border-color: $gray-dark

.detail-value
  +adjust-font-size-to(36px, 2)
  color: $green-light

.detail-name
  text-transform: uppercase
  letter-spacing: 2px
  font-weight: 600
  color: $gray-dark

@media #{$small-only}

  .profile-detail
    +trailing-border(1px, 1)
