$sidebar-width: rhythm(7)
$additional-width: rhythm(9)
$sidebar-background: #1b1a1b

#sidebar
  float: left
  position: relative
  width: $sidebar-width
  height: 100%
  background: $sidebar-background

#additional
  @extend #sidebar
  float: right
  width: $additional-width
