html
  height: 100%

body
  height: 100%
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: black url("/images/logo.png") center no-repeat
  background-size: 400px auto

a
  color: #00B7FF