html
  height: 100%

body
  height: 100%
  background: $body-background-color
  -webkit-font-smoothing: antialiased

.center-group
  position: absolute
  top: 10%
  width: 100%

@media #{$medium-up}

  .center-group
    top: 30%
