$base-font-size: 15px
$base-line-height: 25px

$body-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif
$monospace-font-family: monospace
$body-font-color: #eaeaea
$body-font-color-alt: #aaa
$body-font-weight: 500

$header-font-family: $body-font-family
$header-font-color: #fff
$header-font-weight: 300

$h1-font-size: 40px
$h2-font-size: 35px
$h3-font-size: 28px
$h4-font-size: 24px
$h5-font-size: 20px
$h6-font-size: 15px

$white:         #fff
$gray-lighter:  #eee
$gray-light:    #ccc
$gray:          #909090
$gray-dark:     #4a4a4a
$gray-darker:   #202020
$black:         #000

$dark:          #020607
$dark-light:    lighten($dark, 5%)

// Primary colors
$blue:          blue
$blue-light:    lighten($blue, 10%)
$blue-dark:     darken($blue, 10%)

$red:           #FF4A40
$red-light:     lighten($red, 10%)
$red-dark:      darken($red, 10%)

$green:         green
$green-light:   saturate(#33CC99, 50%)
$green-dark:    darken($green, 10%)

// Secondary colors

$yellow:        yellow
$yellow-light:  lighten($yellow, 10%)
$yellow-dark:   darken($yellow, 10%)

$orange:        orange
$orange-light:  lighten($orange, 10%)
$orange-dark:   darken($orange, 10%)

// Element colors

$body-background-color: #020607

$link-color:          $gray
$link-color-hover:    darken($link-color, 10%)
$link-color-active:   $link-color
$link-color-visited:  $link-color
$link-color-focus:    $link-color

$table-header-background: $gray-lighter
$table-border-color:      $gray-light

$blockquote-color:        $body-font-color-alt

// Element sizes

$global-radius: 2px
$button-font-size: 14px

$input-width:       rhythm(14)

// Z-indices

$zindex-menu: 20
$zindex-tooltip: 30
$zindex-nav: 100
