header.nav-header
  .nav-prefix Tervetuloa
  .dropdown
    a.nav-name.dropdown-toggle #{name} <i class="fa fa-caret-down"></i>
    ul.dropdown-menu.pull-left
      li
        a.logout <i class="fa fa-fw fa-power-off"></i> Sulje verkkoyhteys

ul.nav-list
  li
    a.nav-link.show-posts(rel="posts")
      .link-icon.fa.fa-align-justify.fa-fw
      .link-title Päivitykset
  li
    a.nav-link.show-profile(rel="profile")
      .link-icon.fa.fa-male.fa-fw
      .link-title Profiili
  li
    a.nav-link.show-hacking(rel="hacking")
      .link-icon.fa.fa-keyboard-o.fa-fw
      .link-title Hakkerointi
  if admin
    li
      a.nav-link.show-admin(rel="admin")
        .link-icon.fa.fa-gavel.fa-fw
        .link-title Hallinnoi

footer.nav-footer Cyberia
