header.nav-header
  .nav-prefix Tervetuloa
  .dropdown
    .nav-name.dropdown-toggle #{name} <i class="fa fa-caret-down"></i>
    .dropdown-menu
ul.nav-list
  li <a class="show-posts"><div class="fa fa-list fa-fw nav-icon"></div><br>Päivitykset</a>
  li <a class="show-profile"><div class="fa fa-male fa-fw nav-icon"></div><br>Profiili</a>
  li <a class="show-hacking"><div class="fa fa-laptop fa-fw nav-icon"></div><br>Hakkerointi</a>
footer.nav-footer
  | Cyberia
