.row
  .column.medium-10.medium-centered
    h6.tools-title Admin Tools
    ul#tool-list
      li.tool
        a.tool-link.show-users
          .tool-icon.fa.fa-users
          h3.tool-title Hallinoi käyttäjiä
          p.tool-lead
            | Tarkastele ja muokkaa käyttäjiä sekä pääsyoikeuksia.
      li.tool
        a.tool-link.show-messages
          .tool-icon.fa.fa-comments
          h3.tool-title Selaa viestejä
          p.tool-lead
            | Tarkastele salaisesti haluamiesi pelaajien välisiä viestejä.
