.row
  .column.medium-11.medium-centered
    h6.profile-title Admin Tools
    ul#tool-list
      li.tool
        a.tool-link
          .tool-icon.fa.fa-bolt
          h3.tool-title Ongelmia Verkossa
          p.tool-lead
            | Näytä kaikille yhdistäneille pelaajille
            | viesti verkko-ongelmasta ja kirjaa heidät ulos.
      li.tool
        a.tool-link
          .tool-icon.fa.fa-play-circle-o
          h3.tool-title Nakata-Yutani: Parempi Huominen
          p.tool-lead
            | Näytä kaikille yhdistäneille pelaajille
            | Nakata-Yutani mainosvideo.
      li.tool
        a.tool-link
          .tool-icon.fa.fa-headphones
          h3.tool-title Ghost In The Shell
          p.tool-lead
            | Näytä kaikille yhdistäneille pelaajille
            | häiritsevä videoviesti hakkerilta.
      li.tool
        a.tool-link.danger
          .tool-icon.fa.fa-warning
          h3.tool-title Peli Seis!
          p.tool-lead
            | Lähetä kaikille yhdistäneille pelaajille
            | ilmoitus pelin loppumisesta.
